body {
    font-family: Arial, Helvetica, sans-serif;
}

span.zone {
    color: red;
    font-weight: bold;
}

#vouchers-table {
    border-style: double;
    border-collapse: collapse;
    /* width: auto; */
    table-layout: auto;
    border: 1px solid #ccc;
}

#vouchers-table th {
    text-transform: uppercase;
    text-align: left;
    padding-right: 8px;
    border-bottom: 2px double;
}

#vouchers-table td {
    border: 1px solid #ddd;
    padding-right: 8px;
    text-align: left;
}

#vouchers-table tr {
    border-bottom: 1px dashed;
}
