name: cd voucher.io

on:
  workflow_run:
    workflows: ["ci voucher.io"]
    types:
      - completed

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    env:
      DATABASE_URL: ${{ secrets.DATABASE_URL }}
      DATABASE_AUTH_TOKEN: ${{ secrets.DATABASE_AUTH_TOKEN }}
      SECRET_KEY: ${{ secrets.SECRET_KEY }}

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - id: "auth"
        uses: "google-github-actions/auth@v2"
        with:
          credentials_json: "${{ secrets.GCP_CREDENTIALS }}"

      - name: "Set up Cloud SDK"
        uses: "google-github-actions/setup-gcloud@v2"

      - name: "Use gcloud CLI"
        run: "gcloud info"

      - name: "Build Docker Image"
        run: gcloud builds submit --tag europe-west1-docker.pkg.dev/voucher-io/voucher-io-ar-repo/voucher-io:latest

      - name: Check Alembic Migration Version
        uses: DevGlitch/alembic-migration-checker@v1.1
        with:
          db_url: ${{ secrets.DATABASE_URL }} # Format: postgresql+psycopg2://user:password@host:port/dbname
          migrations_path: ./migrations/

      - name: Deploy to Cloud Run
        run: gcloud run deploy voucher-io --image europe-west1-docker.pkg.dev/voucher-io/voucher-io-ar-repo/voucher-io:latest --region europe-west1 --allow-unauthenticated --project voucher-io --max-instances=2

  deploy-frontend:
    name: "Deploy to Netlify"
    runs-on: ubuntu-latest
    needs: deploy
    steps:
      - name: Repository Checkout
        uses: actions/checkout@v4

      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"

      - name: Install Netlify
        run: npm install netlify-cli@23.1.1 -g

      - name: Deploy to Netlify
        id: netlify_deploy
        run: netlify deploy --dir app --site ${{ secrets.NETLIFY_SITE_ID }} --auth ${{ secrets.NETLIFY_AUTH_TOKEN }} --prod
